.pageContainer {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .pageContainer {
    padding-top: 60px; 
  }
}
@media screen and (max-width: 448px) {
  .pageContainer {
    padding-top: 100px; 
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;
  background: #fff;
}

.pageTitle {
  font-size: 2.2rem;
  color: #1766b1;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  margin-top: 8px;
  text-align: center;
}

.lead {
  font-size: 1.17rem;
  font-weight: 500;
  margin-bottom: 1.2em;
  color: #1766b1;
  text-align: center;
}

.evisaList {
  margin-left: 1em;
  margin-bottom: 0;
  padding-left: 0;
}

.evisaList > li {
  margin-bottom: 1.25em;
  color: #222;
  font-size: 1.07rem;
  line-height: 1.7;
}

.evisaSublist {
  margin-top: 0.45em;
  margin-bottom: 0.45em;
  padding-left: 1.2em;
}

.evisaSublist li {
  margin-bottom: .5em;
}

.tableResponsive {
  overflow-x: auto;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.evisaTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  background: #fff;
  font-size: 0.96rem;
}

.evisaTable th,
.evisaTable td {
  border: 1px solid #ddd;
  padding: 0.5em 0.7em;
  text-align: left;
}

.evisaTable th {
  background-color: #f2f2f2;
  color: #1766b1;
  font-weight: 600;
}

.evisaTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

@media (max-width: 600px) {
  .container {
    padding: 18px 4vw;
  }
  .pageTitle {
    font-size: 1.3rem;
  }
  .sectionTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
  }
  .lead {
    font-size: 1rem;
  }
}
