.pageContainer {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .pageContainer {
    padding-top: 60px; 
  }
}
@media screen and (max-width: 448px) {
  .pageContainer {
    padding-top: 100px; 
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;
  background: #fff;
}

.pageTitle {
  font-size: 2.2rem;
  color: #1766b1;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
  margin-top: 8px;
  text-align: center;
}

.objectivesList {
  padding-left: 1.7em;
  margin-top: 1.1em;
  margin-bottom: 2em;
}

.objectivesListItem {
  margin-bottom: 1.1em;
  font-size: 1.08rem;
  color: #232323;
  line-height: 1.7;
  display: flex;
  align-items: flex-start;
}

.icon {
  color: #1766b1;
  margin-right: 0.8em;
  margin-top: 0.18em;
  font-size: 1em;
  min-width: 22px;
}

@media (max-width: 900px) {
  .container {
    padding: 18px 4vw;
  }
  .pageTitle {
    font-size: 1.3rem;
  }
  .objectivesListItem {
    font-size: 0.99em;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 12px 2vw;
  }
  .pageTitle {
    font-size: 1.15rem;
  }
  .objectivesList {
    padding-left: 1em;
  }
  .objectivesListItem {
    font-size: 0.95em;
  }
}
